<div>
	<ul id="categoryMenu">
		<li> Categories</li> 
		<li>Drama</li>
		<li>Action</li>
		<li>Animation</li>
		<li>Comedy</li>
		<li>Horror</li>
		<li>Documentary</li>
		<li>Series</li>
	</ul>

	<p>I don't know how to do what i'm planning to put here,but my idea is a menu of categories on the left, and the movies displayed in the center, like amazon products. Since i didn't figure out how to do it yet, i'm putting this text to explain what i want to do :D</p>
</div>