/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
nav ul ul{
	display:none;
	color:blue;
}

nav ul li:hover > ul{
	display:block;
}

nav ul li{
	display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

*/
p{
	color:blue;
	font-family: serif;
}
#topNavBar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#topNavBar ul li{
	float: left;
	display: block;
	padding: 8px;
    background-color: #dddddd;

}

#footerLinks ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footerLinks ul li{
	float: left;
	display: block;
	padding: 8px;
    background-color: #dddddd;
}


