<div id= "footerLinks">
	<ul>
		<li> <%= link_to "privacy", tupa_privacy_path %> </li>
		<li> <%= link_to "help", tupa_help_path %> </li>
		<li> <%= link_to "about us", tupa_about_path %> </li> 
		<li> <%= link_to "contact us", tupa_contact_path %> </li>
	</ul>
</div>